body {
  font-family: sans-serif;
  background: #222;
  color: #eee;
  margin: 0;
  padding: 0;
}
header {
  background: #222;
  padding: 1em;
  text-align: center;
}
nav a {
  margin: 0 1em;
  color: #ffcc00;
  text-decoration: none;
}
section {
  padding: 2em;
}
footer {
  background: #222;
  padding: 1em;
  text-align: center;
}
